# --- Android (Mobile) ---
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.txt

# --- C# .NET (Backend) ---
[Bb]in/
[Oo]bj/
.vscode/
appsettings.Development.json

# --- Web (NodeJS - Cho sau này) ---
node_modules/
dist/
.env

# --- Hệ thống ---
Thumbs.dbFoodTour.Mobile/FoodTour.Mobile.csproj
FoodTour.Mobile/FoodTour.Mobile.csproj.user
