# --- Android (Mobile) ---
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk

# --- C# .NET (Backend) ---
[Bb]in/
[Oo]bj/
.vscode/
appsettings.Development.json

# --- Web (NodeJS - Cho sau này) ---
node_modules/
dist/
.env

# --- Hệ thống ---
Thumbs.db